header{
    padding: 15px;
    text-align: center;
    background-color: red;
    font-size: 20px;
    color: white;
}

.main{
text-align: center;
display: flex;
flex-wrap: wrap;
border: 3px solid black;
border-radius: 5px;
justify-content:center;
padding: 5px;;
width: 15%;
margin: auto;
font-size: 15px;
} 

.name-header{
    background-color: blue;
    color: white;
    display: flex; /*how do I get the blue background to fill the entire div?
    
}
.icon img{
    width: 35px;
}